.bedRoom{
/* background-color: #F9E0BB; */
/* height: 100vh;
width: 100%; */
background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);

}
/* .bedroom-card{
    background-color:#884A39 ;
} */
/* .carding{
    background-color: #1e1d1b;
    background-image: linear-gradient(315deg, #1e1d1b 0%, #cc9934 74%);

} */